In [101]:
import sklearn
import pandas as pd

In [102]:
sklearn.__version__

'1.2.2'

In [103]:
df=pd.read_csv('D:/Housing.csv')

In [104]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [120]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score,mean_squared_error,mean_absolute_error,r2_score
from sklearn.ensemble import RandomForestRegressor
import numpy as np

In [82]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [105]:
df['mainroad']=df['mainroad'].map({'yes':1,'no':0})

In [106]:
d=['guestroom','basement','hotwaterheating','airconditioning','prefarea']  
mapp={'yes':1,'no':0}
df[d]=df[d].applymap(lambda x:mapp.get(x))

C:\Users\deend\AppData\Local\Temp\ipykernel_9220\3785644729.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[d]=df[d].applymap(lambda x:mapp.get(x))

In [107]:
df['furnishingstatus']=df['furnishingstatus'].map({'furnished':1,'semi-furnished':2,'unfurnished':3})

In [108]:
X=df.drop('price',axis=1)
y=df['price']

In [109]:
X_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [110]:
model=RandomForestRegressor()

In [111]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,3
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,2
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,3
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,3

In [112]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [113]:
price=df['price'].values

In [115]:
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 1362653.5965333553

In [116]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,3
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,2
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,3
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,3

In [117]:
df.drop('price',axis=1,inplace=True)

In [118]:
pred=model.predict(df)
pred

array([ 8999096.4       , 11118450.        ,  6767565.        ,
       10432310.        ,  9733430.        ,  9981399.4       ,
       10155880.        ,  8953980.        ,  9340800.        ,
        6983340.        ,  6683250.        ,  8640065.        ,
        8751855.        ,  7381220.        ,  8079820.        ,
        6266925.        ,  8542905.        ,  8677722.2       ,
        6990270.        ,  8504930.        ,  7456400.        ,
        7818913.2       ,  5850530.        ,  7731920.        ,
        8222818.8       ,  8534639.4       ,  7771925.        ,
        7053480.        ,  7620830.        ,  7784350.        ,
        8057541.8       ,  7651058.8       ,  7790930.        ,
        5982165.        ,  7875630.        ,  8102159.8       ,
        7671440.        ,  8282237.6       ,  7769300.        ,
        7517300.        ,  7224350.        ,  7499269.4       ,
        7703801.        ,  7209889.4       ,  7438200.        ,
        7121030.        ,  7451068.8       ,  7499590.        ,
        6501320.        ,  7331660.        ,  7322000.        ,
        7175875.        ,  7351330.        ,  6732950.        ,
        7404285.        ,  4981480.        ,  7114520.        ,
        7718060.        ,  7371309.4       ,  7265848.8       ,
        6670020.        ,  6703550.        ,  7170100.        ,
        8363308.8       ,  6664490.        ,  7200130.        ,
        6532330.        ,  6696060.        ,  4743340.        ,
        6963040.        ,  5598810.        ,  6587280.        ,
        5442920.        ,  6559770.        ,  6535410.        ,
        5640040.        ,  7210280.        ,  7010459.4       ,
        4823945.        ,  6886530.        ,  6004810.        ,
        5952730.        ,  7408030.        ,  7093730.        ,
        4957400.        ,  6940640.        ,  5981780.        ,
        5744900.        ,  6323485.        ,  9401980.        ,
        4419380.        ,  6148170.        ,  6587070.        ,
        7216528.2       ,  6460860.        ,  5832225.        ,
        6218660.        ,  6131510.        ,  6507620.        ,
        6608840.        ,  6447280.        ,  4229155.        ,
        6599600.        ,  6535620.        ,  5729150.        ,
        5726840.        ,  6282780.        ,  6030010.        ,
        5226550.        ,  6083000.        ,  6028890.        ,
        5655650.        ,  5676510.        ,  6073620.        ,
        5484710.        ,  5791100.        ,  5894315.        ,
        4399045.        ,  6075790.        ,  5882590.        ,
        5934600.        ,  6063680.        ,  6052200.        ,
        6245330.        ,  6331809.4       ,  5610360.        ,
        5816370.        ,  6003760.        ,  5734995.        ,
        5689460.        ,  5319580.        ,  5020330.        ,
        5626460.        ,  5384610.        ,  5738320.        ,
        6299160.        ,  6115200.        ,  4099165.        ,
        5527550.        ,  5750780.        ,  6162450.        ,
        5778850.        ,  5789980.        ,  5611130.        ,
        5015570.        ,  5019840.        ,  5280450.        ,
        5547150.        ,  5602660.        ,  6097420.        ,
        5331900.        ,  5257910.        ,  5402600.        ,
        4256350.        ,  5088650.        ,  6461665.        ,
        5460000.        ,  5309990.        ,  4057480.        ,
        5341700.        ,  6208580.        ,  5670035.        ,
        5675040.        ,  5915210.        ,  5653690.        ,
        5432560.        ,  5488350.        ,  5552610.        ,
        5008640.        ,  5869080.        ,  5221370.        ,
        5195050.        ,  5727050.        ,  5633880.        ,
        3707795.        ,  5708150.        ,  5282340.        ,
        5156970.        ,  5513480.        ,  4987325.        ,
        5189590.        ,  5533955.        ,  3532130.        ,
        5090610.        ,  4922750.        ,  2931110.        ,
        5259800.        ,  5271175.        ,  4711070.        ,
        4444650.        ,  6348609.4       ,  5057080.        ,
        5438440.        ,  4896080.        ,  5428780.        ,
        4804310.        ,  5061070.        ,  4848550.        ,
        4780160.        ,  4252360.        ,  4739665.        ,
        4612825.        ,  4667810.        ,  4565750.        ,
        4877180.        ,  4754400.        ,  4724650.        ,
        4509785.        ,  3875728.5       ,  3532690.        ,
        4627280.        ,  5027960.        ,  5097820.        ,
        4907560.        ,  4431700.        ,  4339685.        ,
        4998420.        ,  5215000.        ,  4509785.        ,
        4697770.        ,  6449800.        ,  4576005.        ,
        5071360.        ,  5013050.        ,  4966780.        ,
        4703020.        ,  5151230.        ,  4695880.        ,
        4282880.        ,  5052810.        ,  4436250.        ,
        4463830.        ,  4373565.        ,  4514090.        ,
        4847080.        ,  4592560.        ,  4434710.        ,
        4545870.        ,  4608310.        ,  4440940.        ,
        4493020.        ,  4499950.        ,  4369225.        ,
        3962420.        ,  4557490.        ,  3866800.        ,
        4408467.        ,  5940970.        ,  4526970.        ,
        5232115.        ,  4533865.        ,  4191075.        ,
        4587450.        ,  4273850.        ,  4545100.        ,
        4179420.        ,  4557000.        ,  4464670.        ,
        4467050.        ,  4798360.        ,  4387950.        ,
        4333105.        ,  4348750.        ,  4116630.        ,
        4433520.        ,  4153992.5       ,  4100040.        ,
        4349520.        ,  4437650.        ,  3737510.        ,
        4912530.        ,  3252998.        ,  4731160.        ,
        4245080.        ,  4979520.        ,  4343640.        ,
        4004700.        ,  4641700.        ,  4237030.        ,
        4160800.        ,  3929170.        ,  4118030.        ,
        4061610.        ,  4162830.        ,  4058600.        ,
        4305315.        ,  4054564.5       ,  4171300.        ,
        4467960.        ,  4321590.        ,  4165661.5       ,
        3851470.        ,  4226600.        ,  3716300.        ,
        4321450.        ,  3652082.        ,  6200390.        ,
        4311066.66666667,  4536700.        ,  4264470.        ,
        4227650.        ,  4315640.        ,  3888290.        ,
        4309830.        ,  4745090.        ,  4191530.        ,
        4208680.        ,  4323270.        ,  4377100.        ,
        4266850.        ,  4137315.        ,  4186210.        ,
        4120060.        ,  4301570.        ,  4032000.        ,
        4166190.        ,  5307120.        ,  4652340.        ,
        4018000.        ,  4305770.        ,  4253130.        ,
        5296900.        ,  4679780.        ,  4147850.        ,
        4503100.        ,  4178825.        ,  4117750.        ,
        4551750.        ,  4805150.        ,  3995880.        ,
        4184530.        ,  5115839.4       ,  4265660.        ,
        3724637.        ,  3814160.        ,  4091955.        ,
        4371360.        ,  3942890.        ,  4088000.        ,
        4336640.        ,  4496380.        ,  3850840.        ,
        4470060.        ,  3775800.        ,  3826340.        ,
        3614425.5       ,  3762461.5       ,  3386932.5       ,
        3793720.        ,  3917830.        ,  3784305.        ,
        3733800.        ,  3758580.        ,  3910265.33333333,
        4864650.        ,  4294850.        ,  4248650.        ,
        5238380.        ,  3751300.        ,  3489080.        ,
        3795820.        ,  3989510.        ,  3741010.        ,
        3701250.        ,  3953530.        ,  3689490.        ,
        3787140.        ,  2777063.33333333,  3685850.        ,
        3660580.        ,  3766000.        ,  3882095.        ,
        3522260.        ,  3665410.        ,  3833550.        ,
        3928400.        ,  4293800.        ,  3959900.        ,
        3747047.5       ,  3654070.        ,  3571400.        ,
        3720990.        ,  3655925.        ,  4243750.        ,
        3431750.        ,  2960638.33333333,  3469462.5       ,
        3746260.        ,  3319475.83333333,  3733730.        ,
        3745031.5       ,  3617530.        ,  3634680.        ,
        3384500.        ,  3064320.        ,  3175200.        ,
        3503500.        ,  3646090.        ,  3123260.        ,
        3867010.        ,  3348800.        ,  4164370.        ,
        3479840.        ,  4026400.        ,  3260915.        ,
        3249820.        ,  3656940.        ,  3451095.33333333,
        3046184.16666667,  3127950.        ,  3238812.5       ,
        3451095.33333333,  3384430.        ,  3802260.        ,
        3307427.66666667,  3932950.        ,  3386530.        ,
        3484530.        ,  3383590.        ,  3870720.        ,
        3238684.16666667,  3300290.        ,  3082333.33333333,
        3362835.        ,  3453170.        ,  3514630.        ,
        2774863.        ,  3361445.5       ,  3371929.16666667,
        3034150.        ,  3104780.        ,  3590720.        ,
        3849720.        ,  3307325.        ,  3735095.        ,
        3307427.66666667,  3361445.5       ,  3374525.        ,
        3390450.        ,  3177160.        ,  3324626.66666667,
        3042970.        ,  3001740.        ,  3290700.        ,
        3190740.        ,  3250240.        ,  3993920.        ,
        3348310.        ,  3451700.        ,  3063900.        ,
        3609445.        ,  4021010.        ,  4322920.        ,
        2931950.        ,  3371690.        ,  3544065.        ,
        3129304.5       ,  3148040.        ,  2621430.        ,
        2896250.        ,  3317300.        ,  4544260.        ,
        3243194.5       ,  3172050.        ,  3923640.        ,
        3127092.5       ,  3048850.        ,  4326070.        ,
        3108357.        ,  3320170.        ,  3147935.        ,
        3123277.5       ,  3534650.        ,  2897580.        ,
        3066455.        ,  3104850.        ,  3655610.        ,
        3045840.        ,  2964220.        ,  2978768.33333333,
        3096030.        ,  2828189.        ,  2847180.        ,
        4320400.        ,  2714880.        ,  2623903.33333333,
        4136685.        ,  3014725.        ,  3473225.        ,
        3105515.        ,  3155670.        ,  2800500.5       ,
        2921800.        ,  3732015.        ,  3072230.        ,
        2968770.        ,  3046184.16666667,  3288121.66666667,
        3264030.        ,  4092410.        ,  2881060.        ,
        2659821.5       ,  3101770.        ,  3309950.        ,
        2759610.        ,  2919857.5       ,  2530500.        ,
        2545060.        ,  2816240.        ,  3479070.        ,
        2576000.        ,  2624650.        ,  3177860.        ,
        2697800.        ,  2822120.        ,  2881410.        ,
        2775010.        ,  2556400.        ,  2819880.        ,
        2808050.        ,  2806790.        ,  2610195.        ,
        2953303.5       ,  4365270.        ,  2437050.        ,
        2960638.33333333,  2408420.        ,  2647526.        ,
        2547125.        ,  3548405.        ,  2466271.5       ,
        4472055.        ,  2295720.        ,  2930004.        ,
        2428790.        ,  2488780.        ,  2288160.        ,
        3000424.        ,  3044230.        ,  2167550.        ,
        3122350.        ,  2357365.5       ,  2066820.        ,
        2834345.5       ,  2621430.        ])

In [119]:
mean_error=mean_absolute_error(price,pred)
mean_error

422166.1934556575

In [122]:
r2 = r2_score(price, pred)

# Convert R-squared to percentage accuracy
accuracy = r2 * 100

In [123]:
accuracy

85.70623736831841

In [124]:
#with linear regression it was coming around 80%